{% extends 'base.html' %}


{% load static %}

{% block title %}
update student 
{% endblock title %}

{% block content %}
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-5">
            <h3 class="text-center bg-primary py-2 mt-2 fw-bold">Update Student</h3>
            {% if messages %}
            {% for message in messages %}
            <div style="color: rgb(255, 4, 4);">{{message}}</div>            
            {% endfor %}
            {% endif %}
        <form method="POST" action="{% url 'updatestudent' data.id %}">
            {% csrf_token %}
            <div class="mt-2">
                <label for="sname" class="form-label"> Student Name</label>
                <input type="text" name="sname" value="{{data.student_name}}" class="form-control" placeholder="Enter student full name " required>
            </div>
            <div class="mt-2">
                <label for="age" class="form-label"> Age</label>
                <input type="number" name="age" value="{{data.student_age}}" class="form-control" placeholder="Enter student age" id="" required>
            </div>
            <div class="mt-2">
                <label for="rollnumber" class="form-label"> Roll.N</label>
                <input type="number" value="{{data.student_roll}}" name="rollnumber" class="form-control" 
                 id="" >
            </div>
            <div class="mt-2">
                <label for="address" class="form-label"> Address</label>
                <input type="text" name="address" value="{{data.student_addre}}" class =" form-control" placeholder="Enter student address">
            </div>
            <div class="mt-2">
                <button type="submit" class="text-center btn btn-success py-2">Update</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}