<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
 <link rel="stylesheet" href="{% static 'login.css' %}">

</head>
<body>
    
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
    
    <div class="col-md-5 col-10 form-box">

        <div class="form-container">
            <p class="title text-center">Login</p>
            

            <form class="form" method="post">
                {% csrf_token %}
                <input type="text" name="uname" class="input" placeholder="Username">
                <input type="email" name="uemail" class="input" placeholder="Email">
                <input type="password" name="upassword" class="input" placeholder="Password">

                <p class="page-link text-end">
                    <a href="">
                    <span class="page-link-label">Forgot Password?</span>
                    </a>
                </p>
                <button class="form-btn w-100">Log in</button>
                
<!-- 
                 {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="form-bt w-100">Log out</a>

                 {% else %}
                <button class="form-btn w-100">Log in</button>

                 {% endif %} -->


            </form>

            <p class="sign-up-label text-center">
                Don't have an account?
                <a href="{% url 'register' %}"><span class="sign-up-link">Register</span></a>
            </p>
        </div>

    </div>

</div>
</body>
</html>

