{% extends 'base.html' %}
{% load static %}


{% block title %}
studentlist
{% endblock title %}


{% block content %}
<div class="container-fluid mt-2">
    <div class="row justify-content-center">
        <div class="col-8">
            
            <h3 class="text-center bg-warning py-2 rounded-2 fw-bold">Students list</h3>
            {% if messages %}
            {% for m in messages %}
            {% endfor %}
            {% endif %}
            <!-- ===================================== start tables ================================================== -->
              <table class="table">
                <thead>
                    <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">student Age</th>
                    <th scope="col">student Roll</th>
                    <th scope="col">student Address</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                    {% if student %}
                    {% for s in student %}
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{s.student_name}}</td>
                    <td>{{s.student_age}}</td>
                    <td>{{s.student_roll}}</td>
                    <td>{{s.student_addre}}</td>
                    <td>
                        <a href="{% url 'editstudent' s.id%}"><button class="text-center btn btn-success ">edit</button></a>
                    </td>
                    <td>
                        <a href="{% url 'deletestudent' s.pk %}"><button class="text-center btn btn-danger" >delete</button></a>
                        </td>
                        
                    </tr>

                    {% endfor %}
                    {% endif %}
     
                 </tbody>
                </table>
            <!-- ==================================== endtables ===================================================== -->
        </div>
    </div>
</div>
{% endblock content %}